h1 {
    margin: auto;
}

#title {
    width: fit-content;
    margin: auto;
}

#game-window {
    position: relative;
    aspect-ratio: 1/1;
    width: 90vmin;
    margin: auto;
}

.layer {
    background-color: transparent;
    border: solid black 1px;
    position: absolute;
    width: 100%;
    /* height: 100%;  */
}
